apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: k8s-config
  namespace: argocd
spec:
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"
  description: "K8s cluster management and configuration"
  destinations:
    - namespace: "*"
      server: https://kubernetes.default.svc
  namespaceResourceWhitelist:
    - group: "*"
      kind: "*"
  sourceRepos:
    - https://github.com/J0hn-B/k8s-prep.git
    - "*"
