name: Test with Kind

on: [push]

jobs:
  prepare_environment:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - name: Install Kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.9.0/kind-linux-amd64
          chmod +x ./kind

      - name: Create cluster
        run: |
          kind create cluster

      - name: Install ArgoCD
        run: |
          kubectl create namespace argocd
          kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml;
          kubectl wait --for=condition=Available --timeout=360s deploy/argocd-server -n argocd

      - name: Bootstrap the cluster (prepare the cluster for the application)
        run: |
          cd k8s
          kubectl apply -f argo_config

      - name: Deploy the Application
        run: |
          cd app
          kubectl apply -f argo_config
