name: Test with Kind

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - name: Install Kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.9.0/kind-linux-amd64
          chmod +x ./kind

      - name: Create cluster
        run: |
          kind create cluster

      - name: Install ArgoCD
        run: |
          chmod +x argocd_install.sh
          ./argocd_install.sh
